body{
    background-color:gray;
}
.nav{
    top:0;
    background-color:maroon;
    position:fixed;
    color:#000000;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    filter: drop-shadow(5px 6px 3px #282828);
    width:100%;
}
.centerContainer, .navOption{
    display:flex;
    align-items:center;
    justify-content:center;
}
.navOption:hover{
    background-color:rgb(128, 80, 80);
}
a{
    padding:15px;
    border-radius:20px;
    color:black;
    /* color:rgb(83, 83, 255); */
    text-decoration:none;
}
.material-symbols-rounded{
    color:rgb(40, 40, 40);
}
.homeDashboard{
    display:grid;
    height:700px;
    width:1500px;
    grid-template-rows: 75% 25%;
    grid-template-columns: 50% 25% 25%;
}
.challengeFeature{
    grid-column:1/2;
    grid-row:1;
}
.recentPosts{
    grid-column:3;
    grid-row:1;
    width:100%;
    text-align:center;
    font-family: 'Quicksand', sans-serif;
}
.homeBody{
    display:flex;
}