body{
    background-color:gray;
}
.nav{
    top:0;
    background-color:maroon;
    position:fixed;
    color:#000000;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    filter: drop-shadow(5px 6px 3px #282828);
    width:100%;
}
.centerContainer, .navOption, .group{
    display:flex;
    align-items:center;
    justify-content:center;
}
.navOption:hover{
    background-color:rgb(128, 80, 80);
}
a{
    padding:15px;
    border-radius:20px;
    color:black;
    /* color:rgb(83, 83, 255); */
    text-decoration:none;
}
.material-symbols-rounded{
    color:rgb(40, 40, 40);
}
.homeDashboard{
    display:grid;
    width:1200px;
    grid-template-rows: 292px 220px auto;
    grid-template-columns: 50% 15% 35%;
    column-gap:10px;
}
.challengeFeature{
    grid-column:1/2;
    grid-row:1/span 2;
}
.recentPosts{
    grid-column:3;
    grid-row:2;
    text-align:center;
    height:100%;
}
.accountInfo{
    font-family: 'Quicksand', sans-serif;
    color:gray;
    font-size:20px;
}
.account{
    background-color:#282828;
    width:100%;
}
.accountHolder, .recentPosts{
    display:flex;
    align-items:flex-end;
    justify-content:center;
}
.following{
    grid-column:1/span 3;
    grid-row:3;
    border-collapse: collapse;
    width: 100%;
    font-family: 'Quicksand', sans-serif;
}
.leaderboard{ 
    border-collapse: collapse;  
    font-family: 'Quicksand', sans-serif;
}
.allGroupsDashboard{
    font-family: 'Quicksand', sans-serif;
}
.following td, .following th, .leaderboard td, .leaderboard th{
    border: 1px solid #ddd;
    border-radius:5px;
    padding: 8px;
  }
.following tr, .leaderboard tr{
    background-color: rgb(200,200,200);
    color:#282828;
}
.following th, .leaderboard th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(0, 60, 138);
    color: rgb(200,200,200);
}
.createGroup{
    border:none;
    font-family: 'Quicksand', sans-serif;
}
.createGroup:hover{
    background-color:#28282850
}
.group{
    background-color: rgb(200,200,200);
    margin:15px;
    width:360px;
    border-color: rgb(0, 60, 138);
    border-width:2px;
    border-style:solid;
    height:500px;
    border-radius:5px;
}
.textGroup > img{
    border-radius:30px;
}
.allGroupsDashboard tr{
    margin:10px;
}
/* width */
::-webkit-scrollbar {
    width: 17px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #282828;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(0, 60, 138);
    border-radius:10px;
  }